footer#contacts.footer
  #map(data-aos="clip-text-right")
  .container-fluid
    .footer__contact-wrap(data-aos="clip-text-right" data-aos-delay="700")
      h2.section-title Контакты
      .footer__contact-block.footer__contact-block_first
        h3.footer__contact-title Офис продаж в Одессе
        .footer__contacts-list
          .footer__contact-item
            .footer__contact-icon
              img(src="images/Geo.svg" alt="Geo")
            a.footer__contact-text(href="https://goo.gl/maps/2n1XYuaSniLUpJys8" target="_blank")
              | Ул. Центральная 72, ЖМ Дайберг
          //.footer__contact-item
          //  .footer__contact-icon
          //    img(src="images/PhoneContact.svg" alt="PhoneContact")
          //  a.footer__contact-text(href="tel: +38 (048) 703 11 40") +38 (048) 703 11 40
          .footer__contact-item
            .footer__contact-icon
              img(src="images/Geo.svg" alt="Geo")
            a.footer__contact-text(href="https://goo.gl/maps/sN7YggimbgUf3qms9" target="_blank")
              | Ул. Марсельская, 72, с. Лески
          //.footer__contact-item
          //  .footer__contact-icon
          //    img(src="images/PhoneContact.svg" alt="PhoneContact")
          //  a.footer__contact-text(href="tel: +38 (048) 704 11 40") +38 (048) 704 11 40
          .footer__contact-item
            .footer__contact-icon
              img(src="images/Mail.svg" alt="Mail")
            a.footer__contact-text(href="mailto: info.svoydom@gmail.com") info.svoydom@gmail.com
      .footer__contact-block.footer__contact-block_second
        h3.footer__contact-title Офис продаж в Киеве
        .footer__contacts-list
          .footer__contact-item
            .footer__contact-icon
              img(src="images/Geo.svg" alt="Geo")
            p.footer__contact-text Киевская область, Обуховский р-н, с. Подгорцы
          //.footer__contact-item
          //  .footer__contact-icon
          //    img(src="images/PhoneContact.svg" alt="PhoneContact")
          //  a.footer__contact-text(href="tel: +38 (067) 681 11 00") +38 (067) 681 11 00
          .footer__contact-item
            .footer__contact-icon
              img(src="images/Mail.svg" alt="Mail")
            a.footer__contact-text(href="mailto: sales@fountain.in.ua") sales@fountain.in.ua
      .footer__contact-block.footer__contact-block_feedback
        h3.footer__contact-title Или просто оставьте заявку
        .footer__contact-bottom-wrap
          .btn-wrap
            button.footer__feedback-btn(type="button" data-toggle="modal" data-section="footer" data-target="#feedback-modal")
              span Назначить встречу
          .footer__socials-wrap.d-none.d-lg-flex
            a.footer__social-link(href="https://www.facebook.com/svoydom.od.ua" target="_blank")
              img.svg(src="images/Facebook.svg" alt="Facebook")
            a.footer__social-link(href="https://www.instagram.com/svoydom.od.ua/" target="_blank")
              img.svg(src="images/Instagram.svg" alt="Instagram")
.copyright(data-aos="fade-in")
  .container-fluid
    p.copyright__text svoydom.od.ua © 2020
    p.copyright__text created with love <span>MantiCore Development</span>