header.header
  .container-fluid
    .header__row
      .header__menu-wrap.d-block.d-xl-none(data-aos="fade-in-up-10")
        .header__menu
          span.header__menu_text.header__menu_open menu
          span.header__menu_line
          span.header__menu_line
          span.header__menu_text.header__menu_close close
      .header__logo(data-aos="fade-in-up-10" data-aos-delay="150")
        a(href="#main")
          img.svg(src="images/Logo.svg" alt="Logo")
      .header__right-content
        ul.header__links.d-none.d-xl-flex
          li.header__link-item(data-aos="fade-in-up-10" data-aos-delay="300")
            a.header__link(href="#objects")
              span Объекты
              span Объекты
          li.header__link-item(data-aos="fade-in-up-10" data-aos-delay="450")
            a.header__link(href="#about")
              span О компании
              span О компании
          li.header__link-item(data-aos="fade-in-up-10" data-aos-delay="600")
            a.header__link(href="#services")
              span Услуги
              span Услуги
          li.header__link-item(data-aos="fade-in-up-10" data-aos-delay="750")
            a.header__link(href="#contacts")
              span Контакты
              span Контакты

        a.header__phone.binct-phone-number-1(href="tel: +38 (099) 683 88 90" data-aos="fade-in-up-10" data-aos-delay="900")
          img.svg.d-block.d-xl-none(src="images/Phone.svg" alt="Phone" data-aos="fade-in-up-10" data-aos-delay="300")
          .text-wrap
            span.d-none.d-xl-block +38 (099) 683 88 90
            span.d-none.d-xl-block +38 (099) 683 88 90