doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")

    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")

    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title #{title}

    style(type="text/css").
      body #bingc-passive-get-phone-form span.bingc-sample-countdown-timer {
        display: none;
      }

      body #bingc-active-get-phone-form span.bingc-sample-countdown-timer {
        display: none;
      }

    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NWQBJ78')
    script(async).
      document.addEventListener('DOMContentLoaded', function () {
        const html = document.getElementsByTagName('html')[0]
        const preloader = document.querySelectorAll('.preloader')[0]

        html.style.overflow = 'hidden'
        setTimeout(() => {
          preloader.classList.add('hide')
        }, 5000)
      })

      window.onload = function () {
        const html = document.getElementsByTagName('html')[0]
        const preloader = document.querySelectorAll('.preloader')[0]

        html.style.overflow = 'auto'
        preloader.classList.add('hide')
      }

  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NWQBJ78', height='0', width='0',
        style='display:none;visibility:hidden')

    .preloader
      p.preloader__title Загрузка
      .preloader__line

    include header

    block content

    include footer

    include menu

    include modalFeedback

    include modalGallery

    block footer_scripts
    script(type="text/javascript").
      (function (d, w, s) {
        var widgetHash = 'c72fvokq529yx8mm6si0', ctw = d.createElement(s);
        ctw.type = 'text/javascript';
        ctw.async = true;
        ctw.src = '//widgets.binotel.com/calltracking/widgets/' + widgetHash + '.js';
        var sn = d.getElementsByTagName(s)[0];
        sn.parentNode.insertBefore(ctw, sn);
      })(document, window, 'script')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js")
    script(src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")