.global-menu.d-block.d-xl-none
  .global-menu__wrap
    ul.global-menu__links
      li.global-menu__link-item
        a.global-menu__link(href="#objects") Объекты
      li.global-menu__link-item
        a.global-menu__link(href="#about") О компании
      li.global-menu__link-item
        a.global-menu__link(href="#services") Услуги
      li.global-menu__link-item
        a.global-menu__link(href="#contacts") Контакты
    .global-menu__bottom-info
      button.global-menu__feedback-menu-btn(type="button" data-toggle="modal" data-section="menu" data-target="#feedback-modal")
        span Связаться с нами
      .global-menu__socials
        a.global-menu__social-link(href="https://www.facebook.com/svoydom.od.ua")
          img.svg(src="images/Facebook.svg" alt="Facebook")
        a.global-menu__social-link(href="https://www.instagram.com/svoydom.od.ua/")
          img.svg(src="images/Instagram.svg" alt="Instagram")