#gallery-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        .modal-close-wrap(data-dismiss="modal")
          button.modal-close(type="button" aria-label="Close")
            span
            span
          p.close-text.d-none.d-lg-block close
      .modal-body
        h2.modal-title

        .gallery-slider-wrap
          .gallery-slider.slider
            // Slides insert here
          .slider-nav-wrap
            .slider-pag.gallery-slider-pag.is-black
              .slider-pag__pag-text.slider-pag__text_current
              span.slider-pag__divider /
              .slider-pag__pag-text.slider-pag__text_all
            .slider-arrows-wrap
              .slider-arrow.slider-arrow_prev.gallery-slider-prev
                img.svg(src="images/MainSliderArrow.svg" alt="Prev")
              .slider-arrow.slider-arrow_next.gallery-slider-next
                img.svg(src="images/MainSliderArrow.svg" alt="Next")