#feedback-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        .modal-close-wrap(data-dismiss="modal")
          button.modal-close(type="button" aria-label="Close")
            span
            span
          p.close-text.d-none.d-lg-block close
      .modal-body
        h2.modal-title Оставить заявку
        h5.modal-sub-title Оставьте ваши контактные данные и мы перезвоним в ближайшее время

        form#feedback-form.modal-form(action="api/feedback")
          input(type="hidden" name="sectionFrom")
          .form-group
            input.form-control(type="text" name="name" placeholder="Имя")
          .form-group
            input.form-control(type="tel" name="phone" placeholder="Телефон*" required)
          .form-group
            textarea.form-control.area(name="message" rows="5" placeholder="Сообщение")
          button.form-submit-btn(type="submit")
           .lds-ring.d-none
              span
              span
              span
           span Перезвоните мне
