.main-section {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 78px);
  }
  
  .slide {
    position: relative;
    
    &.with-delay {
      transition-delay: 0.8s !important;
    }
  }
  
  .slider-nav-wrap {
    left: 15px;
    right: 15px;
    bottom: 20px;
    justify-content: space-between;
  }
  
  &__slider-wrap {
    position: relative;
    background-color: $black;
  }
  
  &__slider {
    opacity: 1;
    transition: all 1.2s $motion 0s;
    
    &.start-scale {
      .main-section__bg-image {
        img {
          transform: scale(1.5);
          transition-duration: 10s;
        }
      }
    }
    
    &.start-animation {
      .main-section__sub-title {
        h3 {
          animation: fadeInUp 1.2s $motion 1 0.3s both;
        }
      }
  
      .main-section__title {
        h2 {
          animation: fadeInUp 1.2s $motion 1 0.45s both;
        }
      }
  
      .main-section__desc-title {
        animation: fadeInUp20 1.2s $motion 1 0.6s both;
      }
  
      .main-section__desc {
        animation: fadeInUp20 1.2s $motion 1 0.75s both;
      }
  
      .btn-wrap {
        animation: fadeInUp20 1.2s $motion 1 0.9s both;
      }
    }
    
    &.end-animation {
      opacity: 0;
  
      .main-section__bg-image {
        img {
          transform: scale(1);
          transition-duration: 1.2s;
        }
      }
    }
  }
  
  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    
    img {
      object-fit: cover;
      transform: scale(1);
      transition: all 1.2s ease-in-out;
    }
  }
  
  &__title {
    overflow: hidden;
    margin-bottom: 25px;
    
    h2 {
      color: #fff;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 0;
      font-family: $circe-bold;
    }
  }
  
  &__sub-title {
    overflow: hidden;
    
    h3 {
      color: #fff;
      font-size: 14px;
      margin-bottom: 0;
      font-family: $gotham;
    }
    
    span {
      transform: scale(0.5);
      transform-origin: top left;
      display: inline-block;
    }
  }
  
  &__desc-title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: $circe-bold;
    margin-bottom: 5px;
  }
  
  &__desc {
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    margin-bottom: 20px;
    font-family: $gotham;
  }
  
  &__feedback-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    &:hover {
      background-color: transparent;
      
      img {
        transform: translateX(12px);
      }
    }
    
    span {
      color: $primary;
      font-size: 16px;
      font-family: $gotham;
    }
    
    img {
      width: 15px;
      margin-left: 12px;
      transition: all 0.4s $motion;
    }
  }
  
  &__bottom-info {
    padding: 20px 0 15px;
    background-color: #fff;
  }
  
  &__bottom-wrap {
    display: flex;
    justify-content: space-between;
  }
  
  &__bottom-number-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__bottom-title {
    font-size: 12px;
    color: $grey-light;
    margin-bottom: 7px;
    font-family: $gotham;
  }
  
  &__bottom-number {
    color: $black;
    font-size: 20px;
    line-height: 22px;
    font-family: $gotham-medium;
  }
}

.objects-section {
  padding: 30px 0 60px;
  
  .section-title {
    margin-bottom: 24px;
  }
  
  .object-collapse {
    &__header {
      display: flex;
      margin-bottom: 40px;
      flex-direction: column;
      justify-content: space-between;
      
      &.collapsed {
        .object-collapse__header-title {
          color: $black;
        }
        
        .object-collapse__header-arrow {
          img, svg {
            transform: rotateX(0deg);
            
            path {
              fill: $black;
            }
          }
        }
      }
    }
    
    &__header-top-info {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      justify-content: space-between;
    }
    
    &__header-title {
      color: $black;
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 0;
      font-family: $circe-bold;
      transition: all 0.4s $motion;
    }
    
    &__header-arrow {
      img, svg {
        width: 22px;
        height: 12px;
        transform: rotateX(180deg);
        transition: all 0.4s $motion;
        
        path {
          fill: $primary;
          transition: all 0.4s $motion;
        }
      }
    }
    
    &__image-preview {
      width: 100%;
    }
  }
  
  .object-desc {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    
    &__list {
      height: 100%;
      overflow: hidden;
      line-height: 24px;
      position: relative;
      margin-bottom: 0;
      font-family: $gotham;
      color: rgba(34, 34, 34, 0.6);
      transition: all 0.4s $motion;
  
      a {
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        color: rgba(34, 146, 157, 1);
      }
    }
    
    &__show-desc {
      color: $primary;
      font-size: 16px;
      display: inline-flex;
      font-family: $gotham;
      transition: all 0.4s $motion;
      
      &.hide {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  
  .object-scroll {
    display: flex;
    margin-bottom: 60px;
    justify-content: flex-start;
    
    &.overflow-auto {
      overflow: auto;
    }
  
    &::-webkit-scrollbar {
      width: 100%;
      height: 12px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      border-top: 1px solid #eaeaea;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      width: 30px;
      background-color: $primary;
    }
  }
  
  .object-card {
    width: 345px;
    min-width: 345px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    
    &__image {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      
      &:hover {
        .object-card__image-layer {
          opacity: 1;
          z-index: 1;
        }
      }
      
      img {
        height: 350px;
        object-fit: contain;
      }
    }
  
    &__image-layer {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      position: absolute;
      transition: all 0.4s $motion;
      background-color: rgba(0, 0, 0, 0.4);
    }
  
    &__gallery-btn {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      
      span {
        color: #fff;
        font-size: 24px;
        font-family: $circe;
      }
      
      img {
        width: auto;
        height: 16px;
        margin-left: 10px;
      }
    }
    
    &__name {
      color: $black;
      font-family: $circe-bold;
      font-size: 24px;
    }
    
    &__desc {
      line-height: 24px;
      margin-bottom: 30px;
      font-family: $gotham;
      color: $black-opacity;

      span {
        display: inline-block;
        transform: scale(0.5);
        transform-origin: top left;
      }
    }
    
    &__bottom-content {
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: space-between;
    }
    
    &__feedback-btn {
      width: 190px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      
      span {
        color: #ffffff;
        font-family: $gotham;
      }
    }
    
    &__price {
      color: $primary;
      font-size: 18px;
      font-family: $gotham-medium;
    }
  }

  .object-stock {
    width: 100%;
    height: 48px;
    display: flex;
    margin-top: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: $primary;

    &:after {
      top: 0;
      right: 0;
      width: 0;
      bottom: 0;
      height: 0;
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 24px 20px 24px 0;
      border-color: transparent #fff transparent transparent;
    }

    &__text {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      font-family: $gotham-medium;
    }
  }
}

.help-section {
  padding: 35px 0 40px;
  background-color: $primary;
  
  &__title {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-family: $circe-bold;
  }
  
  &__help-btn {
    width: 210px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    justify-content: center;
  
    &:hover {
      background-color: #e5e5e5;
    }
    
    span {
      color: $primary;
      font-family: $gotham;
    }
  }
}

.housing-section {
  padding: 50px 0 60px;
  
  .section-title {
    margin-bottom: 30px;
  }
  
  &__ask-text {
    font-size: 16px;
    color: $grey-light;
    font-family: $gotham;
    margin-bottom: 15px;
  }
  
  &__title {
    margin-bottom: 40px;
  }
  
  &__info-block {
    margin-bottom: 35px;
  }
  
  &__info-title {
    color: $black;
    font-size: 24px;
    font-family: $circe-bold;
  }
  
  &__info-desc {
    color: $black-opacity;
    line-height: 24px;
    font-family: $gotham;
  }
  
  &__housing-btn {
    width: 210px;
    height: 50px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    
    span {
      color: #fff;
      font-family: $gotham;
    }
  }
}

.about-section {
  padding: 0 0 45px;
  
  .section-title {
    margin-bottom: 20px;
  }
  
  &__main-quote {
    color: $primary;
    margin-bottom: 7px;
    font-family: $circe;
  }
  
  &__desc {
    color: $black-opacity;
    line-height: 24px;
    margin-bottom: 30px;
    font-family: $gotham;
  }
  
  &__second-quote {
    color: $black;
    font-size: 20px;
    line-height: 26px;
    font-family: $circe;
    margin-bottom: 35px;
  }
  
  &__person {
    width: 100%;
    max-width: 445px;
    margin-bottom: 40px;
    
    img {
      margin-bottom: 10px;
    }
  }
  
  &__person-quote {
    color: $black-opacity;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    font-family: $gotham;
  }
  
  &__comment {
    width: 100%;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    .text {
      font-size: 16px;
      text-align: center;
      margin-bottom: 5px;
    }
    
    .small {
      font-size: 12px;
    }
    
    span {
      color: $black;
      line-height: 26px;
      text-align: center;
      font-family: $gotham;
    }
  }
}

.services-section {
  padding: 50px 0 53px;
  
  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  &__service-row {
    margin-bottom: 60px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__image {
    width: 100%;
    margin-bottom: 25px;
  }
  
  &__service-name {
    color: $black;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: $circe-bold;
  }
  
  &__service-desc {
    color: $black-opacity;
    line-height: 24px;
    font-family: $gotham;
    margin-bottom: 25px;
  }
  
  &__service-btn {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    
    span {
      color: #fff;
      font-family: $gotham;
    }
  }
}

.prices-section {
  padding: 0 0 65px;
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .slick-list {
    padding-right: 30px;
  }
  
  .slide {
    transform: scale(0.9);
    transition: all 0.8s $motion;
    transform-origin: left center;
    
    &.slick-active {
      transform: scale(1);
    }
  }
  
  &__info {
    margin-bottom: 45px;
  }
  
  &__description {
    color: $black-opacity;
    font-size: 14px;
    line-height: 24px;
    font-family: $gotham;
    margin-bottom: 0;
    max-width: 300px;
  }
  
  &__slider {
    width: calc(100% + 15px);
  }
  
  &__price-btn {
    display: flex;
    width: 210px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    
    span {
      color: #ffffff;
      font-size: 14px;
      font-family: $gotham;
    }
  }
  
  .price-card {
    display: flex;
    margin-right: 30px;
    align-items: center;
    flex-direction: column;
    padding: 20px 35px 40px;
    border: 1px solid $primary;
    
    &.vip {
      background-color: $primary;
      
      .price-card__title, .price-card__services, .price-card__price {
        color: #fff;
      }
      
      .prices-section__price-btn {
        background-color: #fff;
        
        &:hover {
          background-color: #e5e5e5;
        }
        
        span {
          color: $primary;
        }
      }
    }
    
    &__title {
      color: $primary;
      font-size: 28px;
      font-family: $circe-bold;
    }
    
    &__services {
      color: $black;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 25px;
      font-family: $gotham;
      
      strike {
        color: $grey-light;
      }
    }
    
    &__price {
      color: $primary;
      font-size: 20px;
      margin-bottom: 20px;
      font-family: $circe-bold;
    }
  }
}

.reviews-section {
  .slider-nav-wrap {
    left: 15px;
    bottom: 45px;
  }
  
  .slider-arrows-wrap {
    margin-left: 30px;
  }
  
  .slider-arrow {
    &_prev {
      img {
        transform: rotate(0);
      }
    }
  
    &_next {
      img {
        transform: rotate(-180deg);
      }
    }
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  &__slider-wrap {
    position: relative;
    padding-bottom: 110px;
    
    .slick-list {
      padding-right: 85px;
    }
  }
  
  .review-card {
    padding: 0 35px 0 15px;
    
    &__top-content {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      justify-content: flex-start;
    }
    
    &__name {
      color: $black;
      font-size: 20px;
      margin-bottom: 0;
      margin-left: 20px;
      font-family: $gotham-medium;
    }
    
    &__image {
      width: 80px;
      height: 80px;
      min-width: 80px;
      overflow: hidden;
      border-radius: 100%;
      
      img {
        object-fit: cover;
      }
    }
    
    &__desc {
      color: $black-opacity;
      line-height: 24px;
      font-family: $gotham;
    }
  }
}

@include media-breakpoint-up('lg') {
  .main-section {
    .slider-nav-wrap {
      left: 60px;
      right: auto;
    }
    
    .slider-nav {
      width: 300px;
      margin: 0 40px;
    }
    
    .slider-pag {
      &__text {
        &_current {
          font-size: 48px;
        }
      }
    }
  
    .container {
      height: 100vh;
    }
  
    &__bg-image {
      img {
        transform: scale(1);
        transition: all 0.8s $motion;
      }
    }
    
    &__sub-title {
      margin-bottom: 40px;
      
      h3 {
        font-size: 24px;
      }
    }
    
    &__title {
      margin-bottom: 0;
      
      h2 {
        font-size: 120px;
        line-height: 104px;
      }
    }
    
    &__desc-wrap {
      margin-top: 95px;
    }
    
    &__desc-title {
      font-size: 32px;
      margin-bottom: 15px;
    }
    
    &__desc {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 35px;
    }
    
    &__feedback-btn {
      span {
        font-size: 18px;
      }
    }
    
    &__bottom-info {
      right: 0;
      bottom: 0;
      padding: 50px 0;
      position: absolute;
      
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
    }
    
    &__bottom-wrap {
      justify-content: space-around;
    }
    
    &__bottom-title {
      font-size: 16px;
    }
    
    &__bottom-number {
      font-size: 32px;
      line-height: 36px;
    }
  }
  
  .objects-section {
    padding-top: 115px;
    padding-bottom: 0;
    
    .section-title {
      margin-bottom: 45px;
      padding-left: 75px;
    }
    
    .object-name {
      color: $black;
      font-size: 56px;
      margin-top: 25px;
      line-height: 64px;
      margin-bottom: 25px;
      font-family: $circe-bold;
    }
    
    .col-object {
      margin-bottom: 150px;
    }
    
    .object-scroll {
      overflow: auto;
      margin-bottom: 0;
      position: relative;
      width: calc(100% + 75px);
    }
    
    .col-card-objects {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .container-fluid {
      padding-left: 0;
    }

    .object-name {
      padding-left: 75px;
    }
    
    .object-desc {
      margin-bottom: 0;
      padding-left: 75px;
      
      &__list-item {
        opacity: 1;
        font-size: 15px;
        line-height: 26px;
        color: $grey-dark;
        margin-bottom: 5px;
      }
    }
    
    .object-card {
      min-width: 450px;
      margin-right: 80px;
      margin-bottom: 50px;
      padding-bottom: 60px;
      
      &__image {
        margin-bottom: 35px;
      }
      
      &__name {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 20px;
      }
      
      &__desc {
        font-size: 15px;
        margin-bottom: 40px;
      }
      
      &__price {
        font-size: 24px;
      }
      
      &__feedback-btn {
        width: 225px;
        height: 60px;
        
        &:hover {
          background-color: $primary-dark;
        }
        
        span {
          font-size: 16px;
        }
      }
    }

    .object-stock {
      &__text {
        font-size: 18px;
      }
    }
  }
  
  .help-section {
    padding: 75px 0 90px;
    
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    &__title {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 0;
      text-align: left;
      max-width: 540px;
    }
    
    &__help-btn {
      width: 265px;
      height: 65px;
      margin-left: auto;
      margin-right: 0;
      
      span {
        font-size: 18px;
      }
    }
  }
  
  .housing-section {
    padding: 160px 0 40px;
    
    .section-title {
      margin-bottom: 60px;
    }
    
    &__ask-text {
      font-size: 20px;
      margin-bottom: 35px;
    }
    
    &__info-block {
      margin-bottom: 45px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    &__info-title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
    }
    
    &__info-desc {
      font-size: 15px;
      line-height: 26px;
    }
    
    &__housing-btn {
      width: 265px;
      height: 65px;
      
      span {
        font-size: 18px;
      }
    }
  }
  
  .about-section {
    padding: 85px 0 160px;
    
    .section-title {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 30px;
    }
    
    &__main-quote {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;
    }
    
    &__desc {
      font-size: 15px;
      line-height: 26px;
      color: $grey-dark;
      margin-bottom: 55px;
    }
    
    &__second-quote {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
      max-width: 375px;
    }
    
    &__person {
      margin-bottom: 0;
    }
    
    &__preson-quote {
      font-size: 18px;
      color: $grey-dark;
    }
    
    &__comment {
      max-width: 100%;
      margin-top: 80px;
      
      .text {
        font-size: 24px;
        line-height: 40px;
      }
      
      .small {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
  
  .services-section {
    padding: 160px 0 60px;
    
    .section-title {
      margin-bottom: 90px;
    }
    
    &__service-row {
      margin-bottom: 80px;
    }
    
    &__image {
      margin-bottom: 0;
      height: 600px;
      
      img {
        object-fit: cover;
      }
    }
    
    &__service-name {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 30px;
    }
    
    &__service-desc {
      font-size: 15px;
      line-height: 26px;
      margin-bottom: 50px;
    }
  
    &__service-btn {
      width: 225px;
      height: 60px;
    
      span {
        font-size: 16px;
      }
    }
  }
  
  .prices-section {
    padding: 60px 0 60px;
    
    .section-title {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 30px;
    }
    
    .slick-list {
      padding-right: 0;
    }
    
    .slide {
      transform: scale(1);
      transform-origin: center;
      transition: all 0.8s $motion;
      
      &.slick-active {
        transform: scale(1);
      }
    }
    
    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      flex-direction: column;
    }
    
    &__description {
      width: 100%;
      margin: 0 auto;
      font-size: 15px;
      max-width: 430px;
      line-height: 26px;
      text-align: center;
    }
    
    &__slider {
      width: 100%;
    }
    
    &__price-btn {
      width: 225px;
      height: 60px;
      
      span {
        font-size: 16px;
      }
    }
    
    .price-card {
      padding: 30px 30px 60px;
      
      &__title {
        font-size: 40px;
        margin-bottom: 15px;
      }
      
      &__services {
        font-size: 15px;
      }
      
      &__price {
        font-size: 24px;
      }
    }
  }
  
  .reviews-section {
    padding: 60px 0 120px;
    
    .section-title {
      margin-bottom: 45px;
    }
    
    .slick-list {
      padding-right: 0;
    }
    
    .slider-nav-wrap {
      bottom: 0;
      left: auto;
      right: 120px;
    }
  
    .slide {
      opacity: 1;
      transition: all 0.8s $motion;
      
      &:not(.slick-active) {
        opacity: 0;
      }
      
      &.slick-cloned {
        opacity: 1;
      }
      
      &.slick-active {
        opacity: 1;
      }
    }
    
    .slider-arrow {
      &:hover {
        &.slider-arrow_prev {
          img {
            transform: rotate(0) translateX(-20px);
          }
        }
    
        &.slider-arrow_next {
          img {
            transform: rotate(-180deg) translateX(-20px);
          }
        }
      }
    }
    
    &__slider-wrap {
      margin: 0 auto;
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 90px;
    }
    
    .review-card {
      padding-left: 0;
      padding-right: 120px;
      
      &__desc {
        font-size: 15px;
        line-height: 26px;
      }
    }
  }
}
