@keyframes clipInRight {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clipInUp {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp20 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


[data-aos] {
  body[data-aos-easing="motion-easing"] &,
  &[data-aos][data-aos-easing="motion-easing"] {
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

[data-aos^="clip-text-right"] {
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path;
  
  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos^="clip-text-up"] {
  clip-path: inset(100% 0 0 0);
  transition-property: clip-path;
  
  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos^="fade-in-up-10"] {
  opacity: 0;
  transform: translateY(10px);
  transition-property: transform, opacity;
  
  &.aos-animate {
    opacity: 0;
    transform: translateY(0);
  }
}

[data-aos^="fade-in-up-20"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: transform, opacity;
  
  &.aos-animate {
    opacity: 0;
    transform: translateY(0);
  }
}

[data-aos^="fade-in-right-10"] {
  opacity: 0;
  transform: translateX(-10px);
  transition-property: transform, opacity;
  
  &.aos-animate {
    opacity: 0;
    transform: translateY(0);
  }
}

[data-aos^="fade-in-right-20"] {
  opacity: 0;
  transform: translateX(-20px);
  transition-property: transform, opacity;
  
  &.aos-animate {
    opacity: 0;
    transform: translateY(0);
  }
}

[data-aos^="fade-zoom"] {
  opacity: 0;
  transform: scale(1.5);
  transition-property: transform, opacity;
  
  &.aos-animate {
    opacity: 0;
    transform: scale(1);
  }
}
