/* FONTS */
$circe: 'Circe', sans-serif;
$circe-bold: 'Circe Bold', sans-serif;
$gotham: 'Gotham Pro', sans-serif;
$gotham-medium: 'Gotham Pro Medium', sans-serif;

/* COLORS */
$primary: #22929d;
$primary-dark: #14575E;
$error: #e1291f;
$black: #222;
$black-opacity: rgba(34, 34, 34, 0.6);;
$grey-light: #a6a6a6;
$grey-dark: #7a7a7a;

/* TIMING MOTION */
$motion: cubic-bezier(0.22, 0.61, 0.36, 1);

