html, body {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
}

input, button, textarea, select, option {
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
  }
}

button {
  padding: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, p {
  text-decoration: none;
  margin-bottom: 0;
  
  &:hover {
    text-decoration: none;
  }
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 5;
}

.slick-slide {
  outline: none !important;
}

.section-title {
  color: $black;
  font-size: 40px;
  line-height: 40px;
  font-family: $circe-bold;
}

.slider-nav-wrap {
  display: flex;
  position: absolute;
  align-items: center;
}

/* Slider arrows */
.slider-arrows-wrap {
  display: flex;
  align-items: center;
}
.slider-arrow {
  margin-right: 20px;
  
  &:last-child {
    margin-right: 0;
  }
  
  &_prev {
    img, svg {
      transform: rotate(180deg);
    }
  }
  
  img, svg {
    width: 26px;
    height: 16px;
    transition: all 0.4s $motion;
  }
}

/* Slider navigation */
.slider-nav {
  height: 2px;
  width: 160px;
  position: relative;
  background-color: #7b7b7b;
  
  &__progress {
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    background-color: #fff;
    transition: all 0.4s $motion;
  }
}

/* Slider pagination */
.slider-pag {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  &.is-black {
    .slider-pag__text {
      &_current {
        color: $black;
      }
    }
  }
  
  &__text {
    &_current {
      color: #fff;
      font-size: 32px;
      font-family: $gotham-medium;
    }
    
    &_all {
      margin-top: 5px;
      color: $grey-light;
      font-family: $gotham;
    }
  }
  
  &__divider {
    margin: 5px 5px 0;
    color: $grey-light;
    font-family: $gotham;
  }
}

/* Modal btn */
[class*='-btn'] {
  transition: all 0.4s $motion;
  
  &:hover {
    background-color: $primary-dark;
  }
}

/* Pre loader */
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  
  span {
    width: 14px;
    margin: 1px;
    height: 14px;
    display: block;
    border-width: 1px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: lds-ring 1.2s $motion infinite;
    border-color: #fff transparent transparent transparent;
    
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

/* Alert */
.alert {
  width: 100%;
  color: $black;
  font-family: $gotham;
  margin-bottom: 15px;
}

@keyframes startPreload {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(350px);
  }
}

/* Preloader */
.preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  justify-content: center;
  transition: all 0.8s $motion;

  &.hide {
    opacity: 0;
    transform: scale(0);
  }

  &__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: $circe-bold;
  }

  &__line {
    height: 2px;
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #7b7b7b;

    &:before {
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 50px;
      content: '';
      position: absolute;
      background-color: #fff;
      transform: translateX(-50px);
      animation: startPreload 2s $motion 0s infinite;
    }
  }
}

@include media-breakpoint-up('lg') {
  .container-fluid {
    max-width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .slider-nav {
    height: 4px;
  }
  
  .slider-pag {
    &__text {
      &_all {
        font-size: 20px;
      }
    }
    
    &__divider {
      font-size: 20px;
    }
  }
  
  .slider-arrow {
    cursor: pointer;
    
    &:hover {
      &.slider-arrow_prev {
        img, svg {
          transform: rotate(180deg) translateX(20px);
        }
      }
    
      &.slider-arrow_next {
        img, svg {
          transform: translateX(20px);
        }
      }
    }
    
    img, svg {
      width: 33px;
      height: 20px;
    }
  }
  
  .section-title {
    font-size: 80px;
    line-height: 72px;
  }
}
