/* Circe */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
  url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: url('../fonts/Circe/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* GothamPro */
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
  url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
