mixin mainSlides(slides)
  each slide in slides
    .slide
      .main-section__bg-image(data-aos="fade-zoom")
        img.b-lazy(data-src=slide.img data-src-small=slide.imgMobile alt="Main slider")
      .container
        .row
          .col-12.col-lg-6
            div.main-section__sub-title
              h3(data-aos="fade-up") Всегда больше, чем м<span>2</span>
            div.main-section__title
              h2(data-aos="fade-up" data-aos-delay="150") Свой дом
          .col-12.col-lg-4.offset-lg-2
            .main-section__desc-wrap
              h4.main-section__desc-title(data-aos="fade-in-up-20" data-aos-delay="300")=slide.title
              p.main-section__desc(data-aos="fade-in-up-20" data-aos-delay="450")=slide.desc
              .btn-wrap(data-aos="fade-in-up-20" data-aos-delay="600")
                button.main-section__feedback-btn(type="button" data-toggle="modal" data-section="main" data-target="#feedback-modal")
                  span Связаться
                  img(src="images/MainLinkArrow.svg" alt="Link arrow")