mixin objectDesktop
  each object in objects
    .col-12.col-object
      .row.object-scroll
        .col-12.col-lg-4
          h2.object-name(data-aos="fade-in-up-20" data-aos-delay="150")=object.title
          .object-desc
            .object-desc__list(data-aos="fade-in-up-20" data-aos-delay="300")!=object.desc
          if object.isStock
            .object-stock(data-aos="fade-in-up-20" data-aos-delay="450")
              p.object-stock__text Действует специальное предложение
        .col-12.col-lg-8.col-card-objects
          each card in object.cards
            .object-card
              .object-card__image(data-aos="fade-in-up-20" data-aos-delay="450")
                .object-card__image-layer
                  button.object-card__gallery-btn(type="button" data-toggle="modal" data-title=card.name
                    data-target="#gallery-modal" data-gallery=`${card.gallery}`)
                    span Галерея
                    img(src="images/WatchGallery.svg" alt="Gallery")
                img(src=card.galleryPreview alt="Object")
              h3.object-card__name(data-aos="fade-in-up-20" data-aos-delay="600")=card.name
              p.object-card__desc(data-aos="fade-in-up-20" data-aos-delay="750")!=card.desc
              .object-card__bottom-content
                .btn-wrap(data-aos="fade-in-up-20" data-aos-delay="900")
                  button.object-card__feedback-btn(type="button" data-toggle="modal" data-section=object.title data-target="#feedback-modal")
                    span Узнать детали
                p.object-card__price(data-aos="fade-in-up-20" data-aos-delay="1050")=card.price