mixin object(objects)
  each object in objects
    .col-12
      .accordion.object-collapse(id=object.id)
        .object-collapse__header.collapsed(data-toggle="collapse" data-target=`#${object.id}Collapse`)
          .object-collapse__header-top-info(data-aos="fade-in-up-20")
            h2.object-collapse__header-title=object.title
            .object-collapse__header-arrow
              img.svg(src="images/DownArrow.svg" alt="Collapse")
          .object-collapse__image-preview(data-aos="fade-in-up-20" data-aos-delay="150")
            img.b-lazy(data-src=object.preview alt="Preview")
          if object.isStock
            .object-stock(data-aos="fade-in-up-20" data-aos-delay="450")
              p.object-stock__text Действует специальное предложение
        .collapse.object-collapse__body(id=`${object.id}Collapse` data-parent=`#${object.id}`)
          .row
            .col-12.col-lg-4
              .object-desc
                .object-desc__list.collapsed!=object.desc
            .col-12.col-lg-8
              .object-scroll
                each card in object.cards
                  .object-card
                    .object-card__image
                      .object-card__image-layer
                        button.object-card__gallery-btn(type="button" data-toggle="modal" data-title=card.name
                          data-target="#gallery-modal" data-gallery=`${card.gallery}`)
                          span Галерея
                          img(src="images/WatchGallery.svg" alt="Gallery")
                      img(src=card.galleryPreview alt="Object")
                    h3.object-card__name=card.name
                    p.object-card__desc!=card.desc
                    .object-card__bottom-content
                      button.object-card__feedback-btn(type="button" data-toggle="modal" data-section=object.title data-target="#feedback-modal")
                        span Узнать детали
                      p.object-card__price=card.price