mixin priceSlides(prices)
  - var count = 1

  each price in prices
    .slide
      .price-card(class=price.vip && 'vip' data-aos="fade-in-up-20" data-aos-delay=`${300 + (150 * count++)}`)
        h4.price-card__title=price.title
        .price-card__services!=price.services
        h5.price-card__price=price.price
        .btn-wrap
          button.prices-section__price-btn(type="button" data-toggle="modal" data-section=price.title data-target="#feedback-modal")
            span Заказать