mixin reviewSlides(slides)
  each review in slides
    .slide
      .review-card
        .review-card__top-content(data-aos="fade-in-up-20" data-aos-delay="150")
          .review-card__image
            img.b-lazy(data-src=review.img alt="Review")
          h3.review-card__name=review.name
        .review-card__body-content(data-aos="fade-in-up-20" data-aos-delay="300")
          p.review-card__desc!=review.desc