.modal-content {
  border: none;
  border-radius: 0;
}

.modal-header {
  margin: 0;
  padding: 15px 15px 0;
  border: none;
  display: flex;
  border-radius: 0;
  align-items: center;
  justify-content: flex-end;
}

.modal-close-wrap {
  cursor: pointer;
  
  &:hover {
    .modal-close {
      span {
        background-color: $primary;
      }
    }
    
    .close-text {
      color: $primary;
    }
  }
}

.modal-close {
  width: 35px;
  height: 35px;
  position: relative;
  
  span {
    top: 50%;
    left: 50%;
    width: 35px;
    height: 1px;
    display: block;
    position: absolute;
    border-radius: 1px;
    transition: all 0.4s $motion;
    background-color: $grey-light;
    
    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.modal-body {
  padding: 0 15px 30px;
}

.modal-title {
  color: $black;
  font-size: 36px;
  text-align: center;
  font-family: $circe-bold;
}

.modal-sub-title {
  color: $black-opacity;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
  font-family: $gotham;
}

.modal-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  
  &.error {
    .form-control {
      border-color: $error;
    }
    
    small {
      width: 100%;
      color: $error;
      display: block;
      font-size: 12px;
      margin-top: 5px;
      text-align: center;
      font-family: $gotham;
    }
  }
}

.form-control {
  width: 100%;
  height: 50px;
  display: flex;
  color: $black;
  padding: 0 15px;
  border-radius: 0;
  align-items: center;
  font-family: $gotham;
  background-color: #fff;
  border: 1px solid $grey-light !important;
  
  &:focus {
    box-shadow: none;
  }
  
  &.area {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  &::placeholder {
    color: $grey-light;
  }
}

.form-submit-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  
  span {
    color: #ffffff;
    font-family: $gotham;
  }
}

@include media-breakpoint-up('lg') {
  .modal-dialog {
    max-width: 920px;
  }
  
  .modal-header {
    padding: 30px 30px 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 100px;
  }
  
  .modal-close {
    span {
      width: 44px;
      background-color: $black;
    }
  }
  
  .close-text {
    color: $black;
    font-family: $gotham;
    transition: all 0.4s $motion;
  }
  
  .modal-title {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 15px;
  }
  
  .modal-sub-title {
    width: 100%;
    max-width: 285px;
    margin: 0 auto 40px;
    font-size: 15px;
    line-height: 26px;
  }
  
  .modal-form {
    width: 350px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    height: 65px;
    font-size: 16px;
    padding: 0 20px;
    
    &.area {
      resize: none;
      padding: 25px 20px;
    }
  }
  
  .form-submit-btn {
    height: 65px;
    
    span {
      font-size: 18px;
    }
  }
}
