.footer {
  display: flex;
  position: relative;
  padding: 30px 0 0;
  flex-direction: column-reverse;
  
  .section-title {
    margin-bottom: 30px;
  }
  
  &__contact-wrap {
    z-index: 1;
    padding: 0;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
  }
  
  &__contact-block {
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__contact-title {
    color: $black;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: $gotham-medium;
  }
  
  &__contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
    
    &:hover {
      .footer__contact-text {
        color: $primary;
      }
    }
  }
  
  &__contact-icon {
    margin-right: 15px;
    
    img {
      width: auto;
      height: 20px;
      max-width: 20px;
    }
  }
  
  &__contact-text {
    color: $black;
    font-size: 15px;
    font-family: $gotham;
    transition: all 0.4s $motion;
  }
  
  &__feedback-btn {
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    
    span {
      color: #fff;
      font-family: $gotham;
    }
  }
}

.copyright {
  background-color: #fff;
  padding: 20px 0;
  
  .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  &__text {
    font-family: $gotham;
    margin-bottom: 10px;
    color: rgba(166, 166, 166, 0.6);
    
    &:hover {
      span {
        color: $black;
      }
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
    span {
      transition: all 0.4s $motion;
    }
  }
}

#map {
  width: 100%;
  height: 450px;
}

@include media-breakpoint-up('lg') {
  .footer {
    padding: 60px 0;
    
    .container-fluid {
      display: flex;
      justify-content: flex-end;
    }
    
    .section-title {
      font-size: 56px;
      margin-bottom: 15px;
    }
    
    &__contact-wrap {
      max-width: 600px;
      padding: 40px 50px;
      margin-bottom: 0;
    }
    
    &__contact-title {
      font-size: 24px;
    }
    
    &__contact-text {
      line-height: 18px;
    }
    
    &__contacts-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    
    &__contact-item {
      margin-bottom: 20px;
      
      &:nth-child(odd) {
        flex: 1 0 60%;
        padding-right: 40px;
      }
    }
    
    &__contact-bottom-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    &__feedback-btn {
      width: 226px;
      height: 60px;
      
      span {
        font-size: 16px;
      }
    }
    
    &__socials-wrap {
      display: flex;
      align-items: center;
    }
    
    &__social-link {
      margin-right: 30px;
      
      &:hover {
        path {
          fill: $primary;
        }
      }
      
      &:last-child {
        margin-right: 0;
      }
      
      img, svg {
        width: auto;
        height: 32px;
        
        path {
          transition: all 0.4s $motion;
        }
      }
    }
  }
  
  .copyright {
    .container-fluid {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    &__text {
      font-size: 16px;
      margin-bottom: 0;
      
      span {
        cursor: pointer;
      }
    }
  }
  
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
  }
}
