#gallery-modal {
  .gallery-slider-wrap {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  
    .slider-nav-wrap {
      right: 0;
      bottom: 0;
      justify-content: flex-end;
    }
    
    .slider-arrows-wrap {
      margin-left: 30px;
    }
  
    .slider-arrow {
      path {
        fill: $primary;
      }
    }
  }
  
  .slide {
    padding-right: 20px;
  }
  
  .modal-title {
    margin-bottom: 22px;
  }
  
  .gallery-image {
    width: 100%;
    height: 250px;
    
    img {
      object-fit: contain;
    }
  }
}

@include media-breakpoint-up('lg') {
  #gallery-modal {
    .modal-title {
      margin-bottom: 45px;
    }
    
    .modal-body {
      padding-bottom: 50px;
    }
    
    .gallery-slider-wrap {
      margin: 0 auto;
      max-width: 730px;
      padding-bottom: 65px;
  
      .slider-pag {
        right: 150px;
    
        &__divider {
          font-size: 16px;
        }
    
        &__text_current {
          font-size: 32px;
        }
    
        &__text_all {
          font-size: 16px;
        }
      }
    }
    
    .gallery-image {
      height: 500px;
    }
  }
}
