.global-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  transition: all 0.8s $motion;
  clip-path: inset(0 0 100% 0);
  -webkit-clip-path: inset(0 0 100% 0);
  
  &.open {
    z-index: 998;
    visibility: visible;
    pointer-events: all;
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  
  &__wrap {
    height: 100%;
    display: flex;
    padding: 0 35px;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__link-item {
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__link {
    color: $black;
    font-size: 32px;
    font-family: $circe-bold;
  }
  
  &__bottom-info {
    left: 30px;
    right: 30px;
    bottom: 30px;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  &__feedback-menu-btn {
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    
    span {
      color: #fff;
      font-family: $gotham;
    }
  }
  
  &__socials {
    display: flex;
    align-items: center;
  }
  
  &__social-link {
    margin-right: 30px;
    
    &:hover {
      path {
        fill: $primary;
      }
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    img, svg {
      width: auto;
      height: 32px;
    }
    
    path {
      transition: all .4s $motion;
    }
  }
}
