.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  
  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    content: '';
    position: absolute;
    background-color: #fff;
    transform: translateY(-100%);
    transition: all 0.6s $motion;
  }
  
  &.active {
    box-shadow: 0 0 16px -1px rgba(0, 0, 0, 0.15);
    
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    
    .header__row {
      padding: 12px 0;
    }
    
    .header__logo {
      width: 54px;
      height: 54px;
    }
    
    .header__menu_text {
      color: $black;
    }
  
    .header__menu_line {
      background-color: $black;
    }
  }
  
  &.menu-open {
    .header__menu_text {
      color: $black;
    }
  
    .header__menu_line {
      background-color: $black;
    }
    
    .header__logo {
      path {
        fill: #57a794;
      }
    }
  
    .header__phone {
      path {
        fill: #222;
      }
    }
  }
  
  &__row {
    display: flex;
    padding: 15px 0;
    flex-direction: row;
    align-items: center;
    transition: all 0.4s $motion;
    justify-content: space-between;
  }
  
  &__menu-wrap {
    padding: 5px;
  
    &.open {
      .header__menu_text {
        color: $black;
      }
    
      .header__menu_line {
        background-color: $black;
      }
    
      span {
        &:nth-child(1) {
          opacity: 0;
          transform: translateY(-10px);
        }
      
        &:nth-child(2) {
          bottom: 25px;
        }
      
        &:nth-child(3) {
          bottom: 17px;
        }
      
        &:nth-child(4) {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
  
  &__menu {
    width: 32px;
    height: 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    
    &_text {
      color: #fff;
      font-size: 11px;
      font-family: $gotham;
    }
    
    &_line {
      height: 1px;
      background-color: #fff;
    }
    
    span {
      left: 0;
      right: 0;
      position: absolute;
      transition: all 0.4s $motion;
      
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        bottom: 8px;
      }
  
      &:nth-child(3) {
        bottom: 0;
      }
  
      &:nth-child(4) {
        bottom: 0;
        opacity: 0;
        font-size: 12px;
        transform: translateY(10px);
      }
    }
  }
  
  &__logo {
    width: 60px;
    height: 60px;
    transition: all 0.4s $motion 0.2s;
    
    path {
      transition: all 0.4s $motion 0.2s;
    }
  }
  
  &__phone {
    display: flex;
    padding: 5px;
    
    svg {
      width: 25px;
      height: 25px;
    }
  
    path {
      transition: all 0.4s $motion 0.2s;
    }
  }
}

@include media-breakpoint-up('xl') {
  .header {
    &.active {
      .header__logo {
        width: 70px;
        height: 70px;
      }
      
      .header__link {
        span {
          color: $black;
        }
  
        &:hover {
          span {
            color: $black;
          }
        }
      }
      
      .header__phone {
        span {
          color: $black;
        }
      }
    }
    
    &__row {
      padding: 40px 0;
    }
    
    &__right-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    &__links {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    
    &__link-item {
      margin-right: 65px;
    }
    
    &__link, &__phone {
      &:hover {
        span {
          color: #fff;
      
          &:first-child {
            transform: translate3d(0, -100%, 0);
            opacity: 0;
          }
      
          &:last-child {
            transform: translateZ(0);
            opacity: 1;
          }
        }
      }
    }
    
    &__link {
      display: flex;
      height: 20px;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      
      span {
        color: #fff;
        width: 100%;
        display: block;
        font-size: 15px;
        font-family: $gotham;
        transition: all 0.4s $motion;
        
        &:last-child {
          top: 0;
          left: 0;
          right: 0;
          opacity: 0;
          position: absolute;
          transform: translate3d(0, 100%, 0);
        }
      }
    }
    
    &__logo {
      width: 80px;
      height: 80px;
    }
    
    &__phone {
      display: flex;
      height: 30px;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      
      span {
        color: #fff;
        font-size: 18px;
        font-family: $gotham-medium;
        transition: all 0.4s $motion;
  
        &:last-child {
          top: 0;
          left: 0;
          right: 0;
          opacity: 0;
          position: absolute;
          transform: translate3d(0, 100%, 0);
        }
      }
    }
  }
}
