extends includes/layout
include mixins/object
include mixins/objectDesktop
include mixins/mainSlides
include mixins/priceSlides
include mixins/reviewSlides

block vars
  -
    var title = 'Свой Дом'
    var objects = [
      {
        id: 'daiberg',
        title: 'ЖМ «Дайберг»',
        desc: `
           1. Закрытая охраняемая территория,<br>
           2. Парк, бассейн и ресторан,<br>
           3. Школа, детский сад и тренажерный зал,<br>
           4. Два парковочных места,<br>
           5. Проведен газ и электричество,<br>
           6. Два источника воды: городская и артезианская,<br>
           7. Личные гарантии застройщика, который сам живет в Дайберге
        `,
        isStock: true,
        preview: 'images/daiberg.jpg',
        cards: [
          {
            name: 'Таунхаус - 125 кв.м',
            desc: `
              Этажность: 2<br>
              Площадь участка: 1.6 сотки<br>
            `,
            // price: '103 000$',
            galleryPreview: 'images/daiberg/T125_F1.jpg',
            gallery: [
              'images/daiberg/T125_F1.jpg',
              'images/daiberg/T125_F2.jpg'
            ]
          },
          {
            name: 'Таунхаус - 135 кв.м',
            desc: `
              Этажность: 2<br>
              Площадь участка: 1.68 сотки<br>
            `,
            // price: '112 000$',
            galleryPreview: 'images/daiberg/T135_1F.jpg',
            gallery: [
              'images/daiberg/T135_1F.jpg',
              'images/daiberg/T135_2F.jpg'
            ]
          },
          {
            name: 'Таунхаус - 135 кв.м, угловой ',
            desc: `
              Этажность: 2<br>
              Площадь участка: 2 сотки<br>
            `,
            // price: '123 000$',
            galleryPreview: 'images/daiberg/T135_kyt_1F.jpg',
            gallery: [
              'images/daiberg/T135_kyt_1F.jpg',
              'images/daiberg/T135_kyt_2F.jpg',
            ]
          },
          {
            name: 'Таунхаус - 145 кв.м',
            galleryPreview: 'images/daiberg/T145_1F.jpg',
            desc: `
              Этажность: 2<br>
              Площадь участка: 1.75 сотки<br>
            `,
            // price: '117 000$',
            gallery: [
              'images/daiberg/T145_1F.jpg',
              'images/daiberg/T145_2F.jpg'
            ]
          },
          {
            name: 'Таунхаус - 145 кв.м, угловой',
            galleryPreview: 'images/daiberg/T145_kyt_1F.jpg',
            desc: `
              Этажность: 2<br>
              Площадь участка: 2.16 сотки<br>
            `,
            // price: '128 000$',
            gallery: [
              'images/daiberg/T145_kyt_1F.jpg',
              'images/daiberg/T145_kyt_2F.jpg'
            ]
          },
          {
            name: 'Дуплeкс - 150 кв.м',
            galleryPreview: 'images/daiberg/D150_1F.jpg',
            desc: `
              Этажность: 2<br>
              Площадь участка: 4.3 сотки<br>
            `,
            // price: '159 000$',
            gallery: [
              'images/daiberg/D150_1F.jpg',
              'images/daiberg/D150_2F.jpg'
            ]
          },
          {
            name: 'Дуплeкс - 195 кв.м',
            galleryPreview: 'images/daiberg/D195_1F.jpg',
            desc: `
              Этажность: 3<br>
              Площадь участка: 3 сотки<br>
            `,
            // price: '138 000$',
            gallery: [
              'images/daiberg/D195_1F.jpg',
              'images/daiberg/D195_2F.jpg',
              'images/daiberg/D195_3F.jpg',
            ]
          },
          {
            name: 'Дуплeкс - 220 кв.м',
            galleryPreview: 'images/daiberg/D220_F1.jpg',
            desc: `
              Этажность: 3<br>
              Площадь участка: 3.5 сотки<br>
            `,
            // price: '155 000$',
            gallery: [
              'images/daiberg/D220_F1.jpg',
              'images/daiberg/D220_F2.jpg',
              'images/daiberg/D220_F3.jpg',
            ]
          },
          {
            name: 'Дуплeкс - 220 кв.м',
            galleryPreview: 'images/daiberg/D220_F1.jpg',
            desc: `
              Этажность: 3<br>
              Площадь участка: 4.3 сотки<br>
            `,
            // price: '165 000$',
            gallery: [
              'images/daiberg/D220_F1.jpg',
              'images/daiberg/D220_F2.jpg',
              'images/daiberg/D220_F3.jpg',
            ]
          }
        ]
      },
      {
        id: 'marselS',
        title: 'Клубный дом «Малый Марсель»',
        desc: `
          1. Закрытая охраняемая территория,<br>
          2. ТРЦ «Ривьера» в пешей доступности,<br>
          3. Индивидуальное отопление,<br>
          4. Запас воды на трое суток,<br>
          5. Беседка с барбекю, детская и кроссфит площадки на территории,<br>
          6. Парковочное место
        `,
        preview: 'images/marsel.jpg',
        cards: [
          {
            name: 'Малый Марсель',
            desc: `
              1 этаж: всё продано<br>
              2 этаж:<br>
              52,8 кв.м, 40 650$<br>
              52,4 кв.м, 39 265$<br>
              41,6 кв.м, 33 115$<br>
              3 этаж:<br>
              52,9 кв.м, 49 500$, квартира с ремонтом
            `,
            price: 'от 33 115$',
            galleryPreview: 'images/marsel/M_Main.jpg',
            gallery: [
              'images/marsel/M_1.jpg',
              'images/marsel/M_2.jpg',
              'images/marsel/M_3.jpg'
            ]
          },
        ]
      },
      {
        id: 'marselS2',
        title: 'Клубный дом «Малый Марсель 2»',
        desc: `
          1. Закрытая охраняемая территория,<br>
          2. ТРЦ «Ривьера» в пешей доступности,<br>
          3. Индивидуальное отопление,<br>
          4. Возможность перепланировки и объединение квартир,<br>
          5. Парковочное место
        `,
        isStock: true,
        preview: 'images/marsel2.jpg',
        cards: [
          {
            name: '1 этаж',
            desc: `
               73,10 кв.м, 52 778$<br>
               76,4 кв.м, 55 161$<br>
               98,6 кв.м, 71 189$<br>
               65,4 кв.м, 47 219$
            `,
            price: 'от 47 219$',
            galleryPreview: 'images/marsel2/1F.jpg',
            gallery: [
              'images/marsel2/1F.jpg',
              'images/marsel2/M2_F1.jpg'
            ]
          },
          {
            name: '2 этаж',
            desc: `
               76,8 кв.м, 55 450$<br>
               99,4 кв.м, 71 767$<br>
               63 кв.м, 45 486$<br>
               56 кв.м, 40 432$
            `,
            price: 'от 40 432$',
            galleryPreview: 'images/marsel2/1F.jpg',
            gallery: [
              'images/marsel2/1F.jpg',
              'images/marsel2/M2_F2.jpg'
            ]
          },
          {
            name: '3 этаж',
            desc: `
               76,8 кв.м, 55 450$<br>
               99,9 кв.м, 72 128$<br>
               66,20 кв.м, 53 953$
            `,
            price: 'от 47 219$',
            galleryPreview: 'images/marsel2/1F.jpg',
            gallery: [
              'images/marsel2/1F.jpg',
              'images/marsel2/M2_F3.jpg'
            ]
          },
          {
            name: '4 этаж',
            desc: `
               54 кв.м, 40 500$<br>
               37,6 кв.м, 31 960$<br>
               33 кв.м, 24 750$<br>
               29,4 кв.м, 23 550$<br>
               34 кв.м, 27 500$
            `,
            price: 'от 23 550$',
            galleryPreview: 'images/marsel2/1F.jpg',
            gallery: [
              'images/marsel2/1F.jpg',
              'images/marsel2/M2_F4.jpg'
            ]
          },
        ]
      },
      {
        id: 'vermont',
        title: 'Бизнес-центр «Вермонт»',
        desc: `
          1. Современный стеклянный фасад,<br>
          2. ТРЦ «Ривьера» в пешей доступности,<br>
          3. Ресторан на крыше,<br>
          4. Вдохновляющие виды из панорамных окон
        `,
        preview: 'images/vermont_preview.jpg',
        cards: [
          {
            name: 'Аренда офисов',
            desc: `
               Офис без ремонта 10$/м<span>2</span><br>
               Офис с ремонтом 14$/м<span>2</span>
            `,
            // price: 'от 1250$/кв.м',
            galleryPreview: 'images/vermont.jpg',
            gallery: [
              'images/vermont.jpg'
            ]
          },
        ]
      },
      {
        id: 'romantic',
        title: 'Комплекс таунхаусов «Романтический»',
        desc: `
          1. Огражденная территория,<br>
          2. Два въезда,<br>
          3. Проведены подземные коммуникации,<br>
          4. Благоустройство придомовых территории,<br>
          5. 10 минут пешком к морю
        `,
        isStock: true,
        preview: 'images/romantic.jpg',
        cards: [
          {
            name: 'Таунхаус',
            desc: `
               Площадь: 75 кв.м.<br>
               Этажность: 2 этажа
            `,
            // price: '60 000$',
            galleryPreview: 'images/romantic/1F.jpg',
            gallery: [
              'images/romantic/1F.jpg',
              'images/romantic/2F.jpg',
              'images/romantic/3F.jpg',
              'images/romantic/4F.jpg'
            ]
          },
        ]
      },
      {
        id: 'fontan',
        title: 'Клубный поселок «Фонтан» ',
        desc: `
          1. Закрытая охраняемая территория,<br>
          2. 30 дуплексов,<br>
          3. 20 км от центра Киева,<br>
          4. Детская и спортивная площадки,<br>
          5. Бассейн и зона барбекю<br>
          <a href="https://fountain.in.ua/" target="_blank">fountain.in.ua/</a>
        `,
        preview: 'images/fontan.jpg',
        cards: [
          {
            name: 'Дуплекс',
            desc: `
              В поселке три разных типа коттеджей,<br>
              зеркальные друг к другу,<br>
              площадью 145 м2, 220 м2 и 330 м2<br>
              расположенных на земельных участках от 3 до 7 соток.
            `,
            // price: '',
            galleryPreview: 'images/fontan/fontan_1.jpg',
            gallery: [
              'images/fontan/fontan_1.jpg',
              'images/fontan/fontan_2.jpg',
              'images/fontan/fontan_3.jpg',
              'images/fontan/fontan_4.jpg',
              'images/fontan/fontan_5.jpg'
            ]
          }
        ]
      },
      // {
      //   id: 'royal',
      //   title: 'ЖК «Рояль»',
      //   desc: `
      //     1. Современный стеклянный фасад,<br>
      //     2. ТРЦ «Ривьера» в пешей доступности,<br>
      //     3. Ресторан на крыше,<br>
      //     4. Вдохновляющие виды из панорамных окон
      //   `,
      //   preview: 'images/ObjectExampleImage.png',
      //   cards: [
      //     {
      //       name: 'Таунхаус - S',
      //       desc: `
      //         Промежуточный таунхаус с 1,6 сотками земли<br>
      //         Площадь: 125 кв.м.<br>
      //         Участок: 1,6 соток<br>
      //         Свободная территория: 1 сотка<br>
      //         Паркоместа: 2 перед домом
      //       `,
      //       price: '10300',
      //       galleryPreview: 'images/ObjectExampleImage.png',
      //       gallery: [
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png'
      //       ]
      //     },
      //     {
      //       name: 'Таунхаус - S',
      //       desc: `
      //         Промежуточный таунхаус с 1,6 сотками земли<br>
      //         Площадь: 125 кв.м.<br>
      //         Участок: 1,6 соток<br>
      //         Свободная территория: 1 сотка<br>
      //         Паркоместа: 2 перед домом
      //       `,
      //       price: '10300',
      //       galleryPreview: 'images/ObjectExampleImage.png',
      //       gallery: [
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png'
      //       ]
      //     },
      //     {
      //       name: 'Таунхаус - S',
      //       desc: `
      //         Промежуточный таунхаус с 1,6 сотками земли<br>
      //         Площадь: 125 кв.м.<br>
      //         Участок: 1,6 соток<br>
      //         Свободная территория: 1 сотка<br>
      //         Паркоместа: 2 перед домом
      //       `,
      //       price: '10300',
      //       galleryPreview: 'images/ObjectExampleImage.png',
      //       gallery: [
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png',
      //         'images/ObjectExampleImage.png'
      //       ]
      //     },
      //     {
      //       name: 'Таунхаус - S',
      //       galleryPreview: 'images/ObjectExampleImage.png',
      //       desc: `
      //         Промежуточный таунхаус с 1,6 сотками земли<br>
      //         Площадь: 125 кв.м.<br>
      //         Участок: 1,6 соток<br>
      //         Свободная территория: 1 сотка<br>
      //         Паркоместа: 2 перед домом
      //       `,
      //       price: '10300',
      //       gallery: [
      //         'images/ObjectExampleImage.png'
      //       ]
      //     }
      //   ]
      // }
    ]
    var reviewSlidesList = [
      {
        img: 'images/reviews/review_1.jpeg',
        name: 'Павел Якушев',
        desc: `Спасибо огромное Никите и компании "Свой Дом".
        Сомневались, так как не знали, какие преимущества объединяет в себе дуплекс.
        В квартиру не вернемся никогда!)`
      },
      {
        img: 'images/reviews/review_2.jpg',
        name: 'Анна Сорокина',
        desc: `Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему
        такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом.
        Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их
        самих играться. Довольны и всем советуем!)`
      },
      {
        img: 'images/reviews/review_3.jpeg',
        name: 'Владислав Матвеев',
        desc: `Купили квартиру в Малом Марселе. Переехали с многоэтажки, где не было парковочных мест и было шумно всегда.
        Теперь только наслаждаемся закрытым двориком и своим парковочным местом.  У нас все жители одного возраста.
        Очень лояльно относимся к посиделкам в беседке. В общем, спасибо за такой вид недвижимости!)))`
      },
      {
        img: 'images/reviews/review_4.jpg',
        name: 'Антон Тихонов',
        desc: `Я еще не встречал такого застройщика, который бы сам присутствовал на всех сделках и даже проводил показы.
        Круто! Спасибо Никита!`
      }
    ]
    var mainSlidesList = [
      {
        img: 'images/main_1.jpg',
        title: 'Эргономичные дома',
        imgMobile: 'images/main_1_mobile.jpg',
        desc: 'С квартирной безопасностью, чувством частности, низкими коммунальными платежами и собственной парковкой.'
      },
      {
        title: 'Уютный двор',
        img: 'images/main_2.jpg',
        imgMobile: 'images/main_2_mobile.jpg',
        desc: 'Современные одесские дворики в клубных домах.'
      },
      {
        img: 'images/main_3.jpg',
        title: 'Застройщик по соседству',
        imgMobile: 'images/main_3_mobile.jpg',
        desc: 'Никита Лукьянчук живет в ЖМ «Дайберг» и даёт свои личные гарантии на дома.'
      }
    ]
    var priceSlideList = [
      {
        title: 'Стандарт',
        price: '250$/кв.м.',
        services: `
          Черновые материалы и работа<br>
          Электромонтаж<br>
          Сантехника<br>
          Потолок<br>
          Обои<br>
          Ламинат<br>
          Плитка<br>
          Двери<br>
          Санфаянс<br>
          Осветительные приборы<br>
          <strike>Климатическая техника</strike><br>
          <strike>Кухня под заказ</strike><br>
          <strike>Шторы</strike><br>
          <strike>Элементы декора</strike><br>
          <strike>Профессиональный клининг</strike><br>
          <strike>Мебель</strike><br>
          <strike>Бытовая техника</strike><br>
          <strike>Система безопаности</strike><br>
        `
      },
      {
        title: 'Комфорт',
        price: '350$/кв.м.',
        services: `
          Черновые материалы и работа<br>
          Электромонтаж<br>
          Сантехника<br>
          Потолок<br>
          Обои<br>
          Ламинат<br>
          Плитка<br>
          Двери<br>
          Санфаянс<br>
          Осветительные приборы<br>
          Климатическая техника<br>
          Кухня под заказ<br>
          Шторы<br>
          Элементы декора<br>
          Профессиональный клининг<br>
          <strike>Мебель</strike><br>
          <strike>Бытовая техника</strike><br>
          <strike>Система безопаности</strike><br>
        `
      },
      {
        title: 'Комплекс',
        price: '450$/кв.м.',
        vip: true,
        services: `
          Черновые материалы и работа<br>
          Электромонтаж<br>
          Сантехника<br>
          Потолок<br>
          Обои<br>
          Ламинат<br>
          Плитка<br>
          Двери<br>
          Санфаянс<br>
          Осветительные приборы<br>
          Климатическая техника<br>
          Кухня под заказ<br>
          Шторы<br>
          Элементы декора<br>
          Профессиональный клининг<br>
          Мебель<br>
          Бытовая техника<br>
          Система безопаности<br>
        `
      }
    ]

append content
  main#main-page
    section#main.main-section
      .main-section__slider-wrap
        .main-section__slider.slider
          +mainSlides(mainSlidesList)
        .slider-nav-wrap
          .slider-pag.main-slider-pag(data-aos="fade-in-up-20" data-aos-delay="1050")
            .slider-pag__pag-text.slider-pag__text_current
            span.slider-pag__divider /
            .slider-pag__pag-text.slider-pag__text_all
          .slider-nav(data-aos="clip-text-right" data-aos-delay="1200")
            .slider-nav__progress
          .slider-arrows-wrap(data-aos="fade-in-up-20" data-aos-delay="1350")
            .slider-arrow.slider-arrow_prev.main-slider-prev
              img(src="images/MainSliderArrow.svg" alt="Prev")
            .slider-arrow.slider-arrow_next.main-slider-next
              img(src="images/MainSliderArrow.svg" alt="Next")
      .main-section__bottom-info(data-aos="clip-text-right" data-aos-delay="1500")
        .container-fluid
          .main-section__bottom-wrap
            .main-section__bottom-number-wrap(data-aos="fade-in-right-10" data-aos-delay="1650")
              p.main-section__bottom-title Построено
              p.main-section__bottom-number 6 ЖК
            .main-section__bottom-number-wrap(data-aos="fade-in-right-10" data-aos-delay="1800")
              p.main-section__bottom-title Жильцов
              p.main-section__bottom-number 2500〜
            .main-section__bottom-number-wrap(data-aos="fade-in-right-10" data-aos-delay="1950")
              p.main-section__bottom-title Строим
              p.main-section__bottom-number 8 лет

    section#objects.objects-section
      .container-fluid
        h2.section-title(data-aos="fade-in-up-20") Объекты
        //Mobile objects
        .row.d-flex.d-lg-none
          +object(objects)
        //Desktop objects
        .row.d-none.d-lg-flex
          +objectDesktop(objects)
    section.help-section(data-aos="clip-text-right")
      .container
        h2.help-section__title(data-aos="fade-in-right-10" data-aos-delay="150") Помочь выбрать дом вашей мечты?
        .btn-wrap(data-aos="fade-in-right-10" data-aos-delay="300")
          button.help-section__help-btn(type="button" data-toggle="modal" data-section="help" data-target="#feedback-modal")
            span Подобрать жильё
    section#about.housing-section
      .container
        .row
          .col-12.col-lg-7
            p.housing-section__ask-text(data-aos="fade-in-up-20") Спросите себя:
            h2.section-title(data-aos="fade-in-up-20" data-aos-delay="150") В каком доме вы хотите жить?
            .btn-wrap(data-aos="fade-in-up-20" data-aos-delay="300")
              button.housing-section__housing-btn.d-none.d-lg-flex(type="button" data-toggle="modal" data-section="about" data-target="#feedback-modal")
                span Подобрать жильё
          .col-12.col-lg-4.offset-lg-1
            .housing-section__info-block
              h3.housing-section__info-title(data-aos="fade-in-up-20" data-aos-delay="450") Лучшие соседи живут в наших ЖК!
              p.housing-section__info-desc(data-aos="fade-in-up-20" data-aos-delay="600")
                | Жизнь в наших комплексах выбирают позитивные люди, которых объединяют общие интересы или вид деятельности.
            .housing-section__info-block
              h3.housing-section__info-title(data-aos="fade-in-up-20" data-aos-delay="750") Безопасность для всей семьи!
              p.housing-section__info-desc(data-aos="fade-in-up-20" data-aos-delay="900")
                | Нас выбирают моряки, потому что им не страшно уехать в рейс оставив дом и семью.
            .housing-section__info-block
              h3.housing-section__info-title(data-aos="fade-in-up-20" data-aos-delay="1050") Гарантия от застройщика
              p.housing-section__info-desc(data-aos="fade-in-up-20" data-aos-delay="1200")
                | Никита Лукьянчук присутствует на каждой сделке и дает свои личные гарантии, так же Никита является жителем ЖМ «Дайберг»
            .btn-wrap(data-aos="fade-in-up-20" data-aos-delay="1350")
              button.housing-section__housing-btn.d-flex.d-lg-none(type="button" data-toggle="modal" data-section="about" data-target="#feedback-modal")
                span Подобрать жильё
    section.about-section
      .container
        .row
          .col-12.col-lg-6
            p.about-section__main-quote(data-aos="fade-in-up-20") Пора выбирать Свой Дом
            h2.section-title(data-aos="fade-in-up-20" data-aos-delay="150") О компании
            p.about-section__desc(data-aos="fade-in-up-20" data-aos-delay="300")
              | Никита Лукьянчук – принципиальный бизнесмен. <br>
              | В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный
              | сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта.
              | Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных
              | домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов
              | современного вида недвижимости. Жилые комплексы от застройщика «Свой Дом» символизируют высокое качество, частность
              | и безопасность каждой семьи. Качество каждого этапа строительства высоко оценивается.
              | Чтобы убедиться в этом – приезжайте в «Свой Дом» в любое удобное для Вас время.
            p.about-section__second-quote(data-aos="fade-in-up-20" data-aos-delay="450") «Приедь, посмотри конкурентов и вернись к нам с чистой совестью»
          .col-12.col-lg-5.offset-lg-1
            .about-section__person(data-aos="clip-text-right" data-aos-delay="600")
              img.b-lazy(data-src="images/AboutPerson.png" alt="Person")
              p.about-section__person-quote(data-aos="fade-in-up-20" data-aos-delay="750") Жизнь по соседству с застройщиком
          .col-12
            p.about-section__comment(data-aos="fade-in-up-20" data-aos-delay="900")
              span.text «У нас большие виды на жизнь. И на парк.»
              span.small (с) Никита Лукьянчук
    section.help-section(data-aos="clip-text-right")
      .container
        h2.help-section__title(data-aos="fade-in-right-10" data-aos-delay="150") Помочь выбрать дом вашей мечты?
        .btn-wrap(data-aos="fade-in-right-10" data-aos-delay="300")
          button.help-section__help-btn(type="button" data-toggle="modal" data-section="help" data-target="#feedback-modal")
            span Подобрать жильё
    section#services.services-section
      .container
        h2.section-title(data-aos="fade-in-up-20") Услуги
        .row.services-section__service-row
          .col-12.col-lg-6
            .services-section__image.even-image(data-aos="clip-text-right" data-aos-delay="150")
              img.b-lazy(data-src="images/BuildingService.jpg" alt="Building")
          .col-12.col-lg-5.offset-lg-1.d-lg-flex.flex-lg-column.justify-content-lg-center
            h3.services-section__service-name(data-aos="fade-in-up-20" data-aos-delay="300") Строительство
            p.services-section__service-desc(data-aos="fade-in-up-20" data-aos-delay="450")
              | Строительство дома под ключ от компании «Свой Дом» это прежде всего:
              | - Производство полного цикла строительства(от создания проекта дома до его введения в эксплуатацию)
              | - Юридическое и техническое сопровождение
              | - Соблюдение ДБН и ДСТУ
              | - Заключение договора подряда на строительство
              | - Выполнение работ согласно срокам указанным в договоре
            .btn-wrap(data-aos="fade-in-up-20" data-aos-delay="600")
              button.services-section__service-btn(type="button" data-toggle="modal" data-section="services" data-target="#feedback-modal")
                span Связаться
    section.prices-section
      .container
        .row
          .col-12
            .prices-section__info
              h2.section-title(data-aos="fade-in-up-20") Цены на ремонт
              h3.prices-section__description(data-aos="fade-in-up-20" data-aos-delay="150")
                | Компания «Свой Дом» предоставляет услуги ремонта в виде трех ценовых пакетов на Ваш выбор
          .col-12
            .prices-section__slider.slider
              +priceSlides(priceSlideList)
    section.reviews-section
      h2.section-title(data-aos="fade-in-up-20") Отзывы
      .reviews-section__slider-wrap
        .reviews-section__reviews-slider.slider
          +reviewSlides(reviewSlidesList)
        .slider-nav-wrap
          .slider-pag.reviews-slider-pag.is-black(data-aos="fade-in-up-20" data-aos-delay="450")
            .slider-pag__text.slider-pag__text_current
            span.slider-pag__divider /
            .slider-pag__text.slider-pag__text_all
          .slider-arrows-wrap(data-aos="fade-in-up-20" data-aos-delay="600")
            .slider-arrow.slider-arrow_prev.preview-slider-prev
              img(src="images/ReviewsArrow.svg" alt="Prev")
            .slider-arrow.slider-arrow_next.preview-slider-next
              img(src="images/ReviewsArrow.svg" alt="Next")

append footer_scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_H6tcBfqTJaYuwE1PvolEOiqfEQAyBQ0")
  script.
    var marker, count
    var center = { lat: 46.477252, lng: 30.755375 }
    var locations = [
      ['Коттеджи «СвойДом» в ж/м «Дайберг»', 46.3781603, 30.6805579],
      ['ЖК Малый Марсель', 46.5698577, 30.7979145],
      ['Киевская область, Обуховский р-н, с. Подгорцы', 50.2352816, 30.5098815]
    ]
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: center,
      styles: [
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e9e9e9"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dedede"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#333333"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f2f2f2"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#fefefe"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#fefefe"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        }
      ]
    })
    var infowindow = new google.maps.InfoWindow({})


    for (count = 0; count < locations.length; count++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[count][1], locations[count][2]),
        map: map,
        title: locations[count][0]
      });

      google.maps.event.addListener(marker, 'click', (function (marker, count) {
        return function () {
          infowindow.setContent(locations[count][0]);
          infowindow.open(map, marker);
        }
      })(marker, count));
    }
